[submodule "coco-caption"]
	path = coco-caption
	url = https://github.com/tylin/coco-caption.git
[submodule "cider"]
	path = cider
	url = https://github.com/ruotianluo/cider.git
[submodule "pytorch_compact_bilinear_pooling"]
	path = pytorch_compact_bilinear_pooling
	url = https://github.com/gdlg/pytorch_compact_bilinear_pooling.git
